{namespace ws=WapplerSystems\WsFlexslider\ViewHelpers}


<li>
	<div class="slidercontent wsflexslider-{item.styleclass}">
		<f:if condition="{item.image}">
			<img src="<f:uri.image image="{item.image}" />" title="{item.image.orignalResource.title}" alt="{item.image.originalResource.alternative}" /> 
		</f:if>
		<f:if condition="{settings.showcaption}">
		<div class="caption-wrapper caption-align-{item.textposition}">
			<div class="caption-text">
			    <f:if condition="{settings.showtitle}">
				    <p class="caption-title">{item.title}</p>			        
			    </f:if>
			    <f:if condition="{settings.showdescription}">
                    <f:if condition="{item.description}">
                        <div class="caption-body"><f:format.html>{item.description}</f:format.html></div>
                    </f:if>			        
			    </f:if>
			</div>
			<f:if condition="{item.link}">
				<div class="caption-link">
				<ws:DynLink arguments="{link: item.link}">
					<f:translate key="more">More</f:translate>
				</ws:DynLink>
				</div>
			</f:if>
		</div>
		</f:if>
	</div>
</li>